html{
    height: 100%;
}

body{
    display: flex;
    background-color:#A69D9D;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
}

button{
    cursor: pointer;
}

.content_area{
    display: flex;
    flex-direction: column;
    width: 77%;
    display: flex;
}

.content_area .logo{
    height: 80px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 30px;
}

.logo img{
    height: 80px;
}

.questions_area{
    padding: 4%;
    height: 100%;
    width: 92%;
}

.left_area{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 25px;
    width: 23%;
    border-right: 3px solid #a7a7a7;
}

.user_nickname{
    align-self: center;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items:center;
    flex-direction: row;
}
.user_nickname button{
    margin-left: 8px;
    border: 0;
    font-size:18px;
    background-color: #A69D9D;
}

.left_area .user_nickname span{
    font-size: 20px;
    font-weight:600;
}

.photo-upload-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border-radius: 100%; 
}

.photo-upload-btn img {
    width: 130px;
    height: 130px;
    border-radius: 100%; 
    border: 2px solid #ccc; 
}


.name,
.surname,
.email,
.phone_number,
.certificates{
    font-size: 19px;
    margin-top: 10px;
}

.certificates{
    display: flex;
    min-width: 100%;
}

.certificates ul{
    padding-left: 30px;    
    margin-bottom: auto;
    margin-top: 0px;
}

.name{
    margin-top: 20px;
}