html{
    height: 100%;
}

body{
    display: flex;
    background-color:#A69D9D;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
}

button{
    cursor: pointer;
}

.logo{
    height: 80px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 50px;
    margin-top: 30px;
}

.left_area{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 22%;
    border-right: 3px solid #a7a7a7;
}

.user_name{
    text-align: center;
    height: 40px;
    display: flex;
    align-items:center;
    flex-direction: row;
}
.user_name button{
    margin-left: 8px;
    border: 0;
    font-size:18px;
    background-color: #A69D9D;
}

.left_area p{
    font-size: 20px;
    font-weight:600;
}

.photo-upload-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border-radius: 100%; 
}

.photo-upload-btn img {
    width: 130px;
    height: 130px;
    border-radius: 100%; 
    border: 2px solid #ccc; 
}